* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    text-decoration: none;
    color: black;
    font-size: large;
  }

a:link{
  text-decoration: underline;
}

body{
background-color: rgb(15, 171, 199, 0.5);
}

button{
  border-radius: 4px;
  padding: 10px 24px;
  
}

td, th {
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem;
}


